.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__banner{
    margin: 23px 73px -20px 148px;
    display: flex;
    gap: 80px;
}

.about__banner > * {
    flex: 1;
}

.about__banner__info > h1 {
    margin-top: 185px;
    color: var(--light-blue);
}

.about__banner__info > p {
    color: var(--white);
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.about__banner__img{
    position: relative;
    width: 579px;
    height: 628px;
}

.about__informations{
    margin: 0 148px 120px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.about__informations > h3{
    margin: 0 -75px;
    color: var(--green);
}

.about__informations__grid{
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px 62px;
}

.about__informations__gridItem{
    padding: 18px 29px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--lighter-black);
    box-shadow: 0px 1px 4px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

.about__informations__gridItem > h4{
    margin: 0;
    font-size: 1.14rem;
    color: var(--green);
}

.about__informations__gridItem > div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.about__informations__gridItem > div > span:first-child{
    font-size: 6.86rem;
    line-height: 1;
    font-weight: 700;
    background: linear-gradient(239.94deg, #00EBB2 10.45%, #02DFED 40.94%, #CB7BFF 80.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}