.arrow{
    position: absolute;
    top: 48px;
    background-color: var(--lighter-black);
    box-shadow: 0px 1px 4px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    padding: 30px 16px 27px 16px;
}

.arrow:hover{
    cursor: pointer;
}

.arrow__left{
    left: 0;
}

.arrow__right{
    right: 15px;
}

.arrow__image{
    color: white;
    stroke-width: 2px;
    height: 1.2rem;
    width: 1.2rem;
}