@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 300;
  background-color: var(--black);
  height: 100vh;
}

:root{
  --black: #1E1E1E;
  --light-black: #2F2F35;
  --grey: #AFAFAF;
  --light: #F6F6F6;
  --white: #FFF;
  --light-blue: #02DFED;
  --purple: #CB7BFF;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 1400px) {
  :root{
    font-size: 14px;
  }
  h1{
    font-size: 4.57rem;
  }
  h2{
    font-size: 2.29rem;
  }
  h3{
    font-size: 1.57rem;
  }
  h4{
    font-size: 1.29rem; 
  }
}
