.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__banner{
    margin: 70px 117px 166px 148px;
    display: flex;
    align-items: center;
    gap: 110px;
}

.home__banner__text{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home__banner__text__headings{
    display: flex;
    flex-direction: column;
}

.home__banner__text__headings > h1{
    margin: 0;
    color: var(--light-blue)
}

.home__banner__text__headings > h4 {
    margin: 0;
    color: var(--purple);
}

.home__banner__text > p {
    color: var(--white);
}

.home__banner__image{
    flex: 1;
}

.home__recommendations{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home__recommendations__title{
    color: var(--green);
    margin: 0 0 80px 148px;
}

.home__recommendations__carousel{
    width: 100%;
    align-self: center;
}

.home__recommendations__carouselBox{
    display: flex !important;
    flex-direction: row;
    gap: 26px;
    background-color: var(--light-black);
    padding: 40px;
    border-radius: 10px;
    max-width: 1000px;
}

.home__recommendations__carouselInfo{
    flex: 1;
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.home__recommendations__carouselInfo > p{
    margin: 0;
}

.home__recommendations__carouselInfo__author{
    display: flex;
    flex-direction: column;
}

.home__recommendations__carouselInfo__author > span:first-child{
    font-size: 1.14rem;
    color: var(--purple);
    font-weight: 700;
}

.home__recommendations__carouselInfo__author > span:last-child{
    font-size: 0.79rem;
}