.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__banner{
    margin: 70px 117px 166px 148px;
    display: flex;
    align-items: center;
    gap: 110px;
}

.home__banner__text{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home__banner__text__headings{
    display: flex;
    flex-direction: column;
}

.home__banner__text__headings > h1{
    margin: 0;
    color: var(--light-blue)
}

.home__banner__text__headings > h4 {
    margin: 0;
    color: var(--purple);
}

.home__banner__text > p {
    color: var(--white);
}

.home__banner__image{
    flex: 1;
}

.home__recommendations{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home__recommendations__title{
    color: var(--green);
    margin: 0 0 80px 148px;
}

.home__recommendations__carousel{
    width: 500px;
}