.projects {
    padding: 118px 68px 122px;
}

.projects__title{
    margin: 0;
    color: var(--light-blue);
}

@media (max-width: 768px) {
    .projects {
        padding: 100px 50px;
    }
}

@media (max-width: 414px) {
    .projects {
        padding: 90px 20px;
    }

    .projects__title{
        font-size: 4.3rem;
        line-height: 4.3rem;
    }
}