.footer{
    padding: 29px 65px;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer__social{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__social__item{
    width: 20px;
    height: 20px;
}

.footer__brand{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 7px;
}